<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    cacheResult="true"
    beStrictAboutOutputDuringTests="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap = "vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuites>
        <testsuite name="Simple Test Suite for Turbo Special Octo Engine">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <logging>
        <testdoxHtml outputFile="coverage/tmp/logging.html"/>
    </logging>
</phpunit>